<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="EventStore.IpAddress" value="127.0.0.1"/>
    <add key="EventStore.Port" value="1113"/>
    <add key="EventStore.StreamName" value="Whatever"/>
    <add key="EventStore.StreamVersion" value="1"/>
  </appSettings>
</configuration>